
<h3>Book your bike here:</h3>

<%= simple_form_for [bike, rental] do |f| %>
  <%= f.label :category %>
  <%= f.select :category, ["e-bike", "mountain bike", "tandem bike", "children bike", "e-mountain bike", "city bike", "racing bike"], include_blank: 'Select a Group', class: 'form-control' %>
  <%= f.input :price  %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
