<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hensel.eu/wp-content/uploads/2019/02/neuer_partner_banner-1.jpg);">
    <h1>Your bookings</h1>
</div>

<div class="flex-container">
  <h3>Your future bookings</h3>
  <br>
</div>

<div class="flex-container">

  <div class="grid-cards">

    <% @future_rentals.each do |future_rental| %>

      <div class="card-bike">

        <%= future_rental.start_date %>
        <%= '-' %>
        <%= future_rental.end_date %>
      </div>
    <% end %>
  </div>
</div>

<div class="flex-container">
  <h3>Your previous bookings</h3>
  <br>
</div>

<div class="flex-container">

  <div class="grid-cards">

    <% @past_rentals.each do |past_rental| %>

      <div class="card-bike">

        <%= past_rental.start_date %>
        <%= '-' %>
        <%= past_rental.end_date %>
      </div>
    <% end %>
  </div>
</div>


