<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.txedbike.com/upfile/2020/03/31/20200331144911_125.jpg);">
  <div class="container">
    <h1>Find the perfect ride for your next bike trip</h1>
  </div>
</div>

<%= form_tag bikes_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a bike"
  %>
  <%= submit_tag "Search", class: "btn-round-corners" %>
<% end %>

<div class="flex-container">
  <%= link_to "Add a new bike !", new_bike_path, class: "btn-round-corners"%>
</div>


<div class="flex-container">
  <h1>Our available bikes</h1>
  <br>
  <div class="grid-cards">

    <% @bikes.each do |bike| %>
      <div class="card-bike">
        <% if bike.photo.attached? %>
          <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <%= image_tag "Bike1.jpg" %>
        <% end %>

        <h3><%= link_to bike.category, bike_path(bike) %></h3>
        <h2><%= bike.price %>€</h2>
        <%= link_to"See more", bike_path(bike) %>
      </div>
    <% end %>

  </div>
</div>



