<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.txedbike.com/upfile/2020/03/31/20200331144911_125.jpg);">
  <div class="container">
    <h1>Find the perfect ride for your next bike trip</h1>
  </div>
</div>

<div class="flex-container">
  <%= form_tag bikes_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Look for bike or location"
  %>

  <div id="but">
    <%= submit_tag "Search", class: "btn-round-corners" %>
    <% end %>
  </div>

  <div>
    <p id="azure-text">------------------</p>
  </div>

  <div>
    <h4>Add your bike to the list</h4>
    <div id="but">
      <%= link_to "Add a new bike !", new_bike_path, class: "btn-round-corners"%>
    </div>
  </div>
</div>


<div class="flex-container">
      <div id="map"
           style="width: 80%; height: 350px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
</div>

<div class="flex-container">
  <h1>Our available bikes</h1>
  <br>
  <div class="grid-cards">

    <% @bikes.order("updated_at desc").each do |bike| %>
      <div class="card-bike">
        <% if bike.photo.attached? %>
          <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <%= image_tag "logo.png" %>
        <% end %>

        <h3><%= link_to bike.category, bike_path(bike) %></h3>
        <h3><%= bike.location %></h3>
        <h3><%= bike.price %> €/day</h3>
        <p><%= bike.description %></p>

        <%= link_to"See more", bike_path(bike) %>
      </div>
    <% end %>

  </div>
</div>



