<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://dfp2hfrf3mn0u.cloudfront.net/cre/creston-ic-v3_1600x685_home-main-banner_2019_SYNCROS_1616656_jpg_original_1.jpg);">
    <h1>Infos on selected bike</h1>
</div>


<div class="container grid-cards">
  <div class="container-title">
    <h1><%= @bike.category.upcase %></h1>
  </div>


  <div class="container-infos">
      <h4><strong>Description</strong></h4>
      <p><%= @bike.description %></p>
      <h4><strong>Location</strong></h4>
      <p><%= @bike.location %></p>
      <h4><strong>Price</strong></h4>
      <p><%= @bike.price %> €</p>
  </div>

  <div class="container">
    <% if @bike.photo.attached? %>
      <%= cl_image_tag @bike.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>


  <div class="container-infos">
    <% if policy(@bike).edit? %>
        <%= link_to "Update the Bike", edit_bike_path(@bike), class: "btn-round-corners" %>
    <% end %>

    <% if policy(@bike).update? %>
        <%= link_to "Delete the Bike", bike_path(@bike), method: :delete, data: {confirm: "Are you sure?"}, class: "btn-round-corners" %>
    <% end %>

    <%= link_to "Book", new_bike_rental_path(@bike),class: "btn-round-corners" %>

  </div>

</div>


